*.pdb filter=lfs diff=lfs merge=lfs -text
/Users/wmii/Documents/GitHub/MechaJammin/MechaJam/Plugins/Wwise/Binaries/Win64/UnrealEditor-AkAudio.pdb filter=lfs diff=lfs merge=lfs -text
UnrealEditor-AkAudio.pdb filter=lfs diff=lfs merge=lfs -text
